* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#setting {
  position: absolute;
  top: 5px;
  left: 5px;
  border: 1px solid black;
  z-index: 1;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
}

.setting_heading {
  text-align: center;
  padding: 2px;
  cursor: pointer;
}

.setting_container {
  padding: 7px;
}

select[name="board_size"] {
  cursor: pointer;
}

.board-wrapper {
  --board-color: rgb(221, 168, 93);
  background-color: var(--board-color);
  padding: 4vmin;
  border: 0.5vmin solid rgb(241, 189, 116);
  border-radius: 0.5vmin;
}

#checkerboard {
  --board-size: 7;
  --piece-size: calc(85vmin / var(--board-size));
  --piece-gap: 0.2vmin;
  --text-color: rgb(54, 54, 54);
  --grid-color: rgb(47, 47, 47);
  display: grid;
  grid-template-columns: repeat(var(--board-size), var(--piece-size));
  grid-template-rows: repeat(var(--board-size), var(--piece-size));
  background-color: var(--grid-color);
  gap: var(--piece-gap);
  padding: var(--piece-gap);
  position: relative;
}

.cell {
  background-color: var(--board-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.6vmin;
  cursor: pointer;
  position: relative;
}

.cell.x-coordinate-top::before,
.cell.x-coordinate-bottom::before {
  content: attr(data-x-coordinate);
  position: absolute;
  top: -3.9vmin;
  font-size: 2.7vmin;
  color: var(--grid-color);
}

.cell.x-coordinate-bottom::before {
  top: auto;
  bottom: -3.9vmin;
}

.cell.y-coordinate-left::after,
.cell.y-coordinate-right::after {
  content: attr(data-y-coordinate);
  position: absolute;
  left: -2.5vmin;
  transform: translateX(-50%);
  font-size: 2.7vmin;
  color: var(--grid-color);
}

.cell.y-coordinate-right::after {
  left: auto;
  right: -2.5vmin;
  transform: translateX(50%);
}

.piece {
  width: var(--piece-size);
  height: var(--piece-size);
  position: absolute;
  top: calc(
    var(--y) * (var(--piece-size) + var(--piece-gap)) + var(--piece-gap)
  );
  left: calc(
    var(--x) * (var(--piece-size) + var(--piece-gap)) + var(--piece-gap)
  );
  border-radius: 50%;
  border: 0.5vmin solid var(--board-color);
}

.piece.black {
  background: radial-gradient(
    circle at 40% 35%,
    hsl(0, 0%, 40%) 0%,
    hsl(0, 0%, 15%) 30%,
    hsl(0, 0%, 0%) 100%
  );
}

.piece.white {
  background: radial-gradient(
    circle at 40% 35%,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 0%, 95%) 30%,
    hsl(0, 0%, 80%) 100%
  );
}

.turn_div,
.regret_div,
.timer_div {
  cursor: pointer;
}
